<h1>Welcome to Super Easy!</h1>
<h2>Super Easy manages and organizes people's shopping lists.
</h2>
<h3><%= link_to 'My Shopping List', controller: 'items' %> <br> </h3>
<h3><%= link_to 'Update Your Purchase Items', purchase_archives_path  %></h3>
<h3><%= link_to 'Archive', archives_path  %></h3>
