/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
    font-family: Arial;
    text-align: center;
}

table {
    margin-bottom: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
th {
    border-bottom: 2px solid #ccc;
    font-weight: bold;
    text-align: center;
}
td { border-bottom: 1px solid #ddd; text-align: center }
caption, th, td {
    padding: 4px 6px 4px 0;
}
caption {
    background: #f1f1f1;
    padding: 4px 0;
    margin-bottom: 1em;
}

tr,td,th {
    vertical-align: middle;
}

